<div class="bg-image">
    <div class="container">

      <div class="card-wo d-flex justify-content-center">

        <%# WORKOUT INFOS CARD %>
        <div class="p-3" style="width: 300px;">
          <div class="sticky border border-success p-3 bg-dark rounded text-light">
            <h5 class="text-success"><%= @workout.name %></h5>
            <p><em>Description:</em></p>
            <p><%= @workout.description  %></p>
            <p><em>Specs:</em></p>
            <p><strong><%= @workout.exercices.count %></strong> exercices</p>
            <%= render "components/pie_chart", workout: @workout %>
            <p class="text-end" style="backdrop-filter: brightness(1.5);"><%= @workout.user.name %></p>


                <%# ADDING TRAINING %>
          <div class=""></div>
            <p><strong><%= current_user.trainings.count %></strong> trainings added to your profile</p>

              <% train = Training.where(user_id: current_user.id, workout_id: @workout.id) %>
              <% if train.empty? %>
                <div class="mb-3 d-flex justify-content-center">
                    <%= simple_form_for([@workout, @training]) do |f| %>
                        <%= button_tag type: 'submit', class: "submit-button" do %>
                          <i class="far fa-plus-square fa-lg add-btn"></i>
                        <% end %>
                    <% end %>
                </div>
              <% else %>
                  <div class="mb-3 d-flex justify-content-center">
                    <%= link_to training_path(train.first), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="far fa-minus-square fa-lg delete-btn"></i>
                     <% end %>
                  </div>
              <% end %>

          </div>
        </div>


        <%# EXERCICES INFOS %>
        <div class="margin_card">
          <% @workout.workout_sets.each do |workout_set| %>

            <%= render "components/card_exo_info", workout: @workout, workout_set: workout_set  %>

          <% end %>
        </div>
      </div>

    </div>

</div>
