<div class="bg-image">
    <div class="container">

      <div class="card-wo d-flex justify-content-center">

        <%# WORKOUT INFOS CARD %>
        <div class="p-3" style="width: 300px;">
          <%# <div class= "border border-3 rounded-3 border-dark mb-1 p-3 border-dark background_form bg-secondary bg-gradient sticky"> %>
          <div class="sticky border border-success p-3 bg-dark rounded text-light">
            <h5 class="text-success"><%= @workout.name %></h5>
            <p><em>Description:</em></p>
            <p><%= @workout.description  %></p>
            <p><em>Specs:</em></p>
            <p><strong><%= @workout.exercices.count %></strong> exercices</p>
            <%= render "components/pie_chart", workout: @workout %>
            <p class="text-end" style="backdrop-filter: brightness(1.5);"><%= @workout.user.name %></p>

          <div class="top-card-wo"></div>            

            <p><strong><%= @workout.trainings.count %></strong> trainings added to your profile</p>
            <p><strong><%= current_user.trainings.count %></strong> trainings added to your profile</p>


              <% train = Training.where(user_id: current_user.id, workout_id: @workout.id) %>
              <% if train.empty? %>
                <div class="mb-3">
                    <%= simple_form_for([@workout, @training]) do |f| %>
                        <%= button_tag type: 'submit', class: "submit-button" do %>
                          <i class="fa-solid fa-plus bg-light"></i>
                        <% end %>
                    <% end %>
                </div>
              <% else %>
                  <div>
                  <%# <% @workout.trainings.each do |training| %>
                    <%= link_to training_path(train.first), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-minus fa-xs"></i>
                     <% end %>
                  </div>
              <% end %>



            <div class="mb-3">
              <%= simple_form_for([@workout, @training]) do |f| %>
                <%= f.submit 'Add to training' %>
              <% end %>
            </div>

          </div>
        </div>

        <div class="margin_card">
          <% @workout.workout_sets.each do |workout_set| %>

            <%= render "components/card_exo_info", workout: @workout, workout_set: workout_set  %>

          <% end %>
        </div>
      </div>

    </div>

</div>
