<div class="bg-image">
    <div class="container">

      <div class="card-wo d-flex justify-content-center">

        <%# WORKOUT INFOS CARD %>
        <div class="p-3" style="width: 300px;">
          <%# <div class= "border border-3 rounded-3 border-dark mb-1 p-3 border-dark background_form bg-secondary bg-gradient sticky"> %>
          <div class="stick border border-success p-3 bg-dark rounded text-light">
            <h5 class="text-success"><%= @workout.name %></h5>
            <p><em>Description:</em></p>
            <p><%= @workout.description  %></p>
            <p><em>Specs:</em></p>
            <p><strong><%= @workout.exercices.count %></strong> exercices</p>
            <p><i class="fa-solid fa-person-running"></i><strong class="text-warning"> <%= @workout.avg_dex %></strong></p>
            <p><i class="fa-solid fa-dumbbell"></i><strong class="text-danger"> <%= @workout.avg_str %></strong></p>
            <p><i class="fa-solid fa-lungs"></i><strong class="text-success"> <%= @workout.avg_end %></strong></p>
            <p class="text-end" style="backdrop-filter: brightness(1.5);"><%= @workout.user.name %></p>
          </div>
        </div>

        <div class="margin_card">
          <% @workout.workout_sets.each do |workout_set| %>

            <%= render "components/card_exo_info", workout: @workout, workout_set: workout_set  %>

          <% end %>
        </div>
      </div>

    </div>

</div>
