<div class="animate__animated animate__fadeInDown" style="height: 800px; width: 100%">

  <%# SIMPLE CALENDAR %>
  <%= turbo_frame_tag 'calendar' do %>
    <%= week_calendar(events: sessions, date: Date.today) do |date| %>
      <%= date.strftime("%d/%m") %>
      <% if current_user.sessions.map(&:programing_at).include?(date) %>

        <%# RENDERING WORKOUTS OF THAT DAY %>
        <% current_user.sessions.find_all { |s| s.programing_at == date}.each do |item| %>
          <div class="bg-success rounded p-1 m-1">
            <h6><%= item.training.workout.name %></h6>
            <p style="padding-bottom: 3px;"><%= item.training.workout.score %></p>
          </div>
        <% end %>
      <% end %> <%# IF END %>
    <% end %> <%# WEEK CALENDAR END %>
  <% end %> <%# TURBO END %>

</div>
