<% if workout_set.present? %>
  <% exercice = Exercice.find(workout_set.exercice_id) %>

<% end %>
<%= link_to exercice_path(exercice), style: "text-decoration: none; padding: 0px" do %>
  <div class="card-exo d-flex justify-content-center align-items-center rounded scaller pe-4 border border-success" style="width: auto">

              <%# IMAGE %>
    <%= cl_image_tag exercice.image.key, height: 220, width: 300, crop: :fill, class: "" %>

              <%# INFO CARD %>
    <div class="p-2" style="width: 15vw">



              <%# DETAILS %>

        <div class= "card-exo-detail flex-grow-1 px-2 mx-3">

          <span><strong><%= exercice.name%></strong></span>
          <br>
          <span class="ps-2"><i class="fa-solid fa-dumbbell"></i> <%= exercice.nature.capitalize  %></span>
          <br>
          <span class="ps-2"><i class="fa-solid fa-person"></i> <%= exercice.muscle.capitalize  %></span>
          <br>
          <span class="ps-2"><i class="fa-solid fa-gear"></i> <%= exercice.equipment.capitalize  %></span>
          <% if workout_set.present? %>
            <p><strong class="ps-2"><%= workout_set.repetition %></strong> Reps</p>
          <% end %>
        </div>
      </div>

    <%# RATING %>
    <div class="div-img d-flex align-items-center justify-content-center m-3" style="width: 15vw; border: 1px solid #D8D8D8">
      <% hash = {str: exercice.str, dex: exercice.dex, end: exercice.end} %>
      <%= render "components/bar_chart", exercice: hash %>
    </div>

  </div>
<% end %>
