
  <div class="card-exo d-flex justify-content-between rounded m-3" style="width: 45vw">

              <%# IMAGE %>
    <%= image_tag "giga_chad2.png", class:"", width: 200 %>

              <%# INFO CARD %>
    <div style="width: 15vw">

      <% repetitions = workout_set.repetition %>
      <% exercice = Exercice.find(workout_set.exercice_id) %>


              <%# DETAILS %>

        <div class= "card-exo-detail px-2 pt-3">

          <span><strong><%= exercice.name%></strong></span>
          <br>
          <span class="ps-2"><i class="fa-solid fa-dumbbell"></i> <%= exercice.nature  %></span>
          <br>
          <span class="ps-2"><i class="fa-solid fa-person"></i> <%= exercice.muscle  %></span>
          <br>
          <span class="ps-2"><i class="fa-solid fa-gear"></i> <%= exercice.equipment  %></span>
        </div>

            <%# INSTRUCTIONS %>
        <div class="d-flex flex-column align-items-center py-2">


          <p> <a class="btn btn-outline-success text-clack" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                instructions
              </a>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <small><%= exercice.instructions  %></small></p>
                </div>
              </div>

        </div>
              <%# RATING %>

    </div>

    <div class="div-img d-flex align-items-center p-3" style="width: 15vw">

      <%= render 'components/bar_chart', exercice: exercice %>

    </div>

  </div>
