<div class="mx-2">

  <div class="mb-4 d-flex flex-row justify-content-center">

    <%# Filters %>
    <%= simple_form_for(:filter, url: edit_workout_path(workout), method: :get) do |f| %>

      <div class="d-flex">
        <div style="width: 55vw">
          <%= f.input :query, label: "Search", placeholder: 'Enter a name or a muscle' %>
        </div>

        <div style="padding-top: 32px">
          <%= f.submit 'Search', style: "height: 37px;"%>
        </div>
      </div>

    <% end %>

  </div>

    <div style="padding-left: 20vw" class="pb-3">
      <%= link_to "Submit workout", user_my_workouts_path(current_user.id), class: "btn btn-success text-dark" %>
    </div>

  <%# Formulaire edit workout_set %>
  <div class="d-flex justify-content-center">
    <div>
      <% exercices.each do |exercice| %>

        <%= render "components/card_exercice_edit_wo", exercice: exercice, workout: workout, workout_set: workout_set %>

      <% end %>
    </div>
  </div>
</div>
