<div class="modal fade" id="<%= session.id.nil? ? "new" : session.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%# MODAL TITLE %>
        <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Plan your <span class="text-success">session</span></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%# MODAL BODY %>
      <div class="modal-body text-start text-dark">
        <% btn_msg = session.id.present? ? "Update" : "Create" %>
        <% action = session.id.present? ? gym_session_path(session) : gym_session_index_path %>
        <%= simple_form_for session, url: action, data: { controller: 'flatpickr' } do |f|%>
          <%= f.input :programing_at, placeholder: 'Click here to add a date', as: :string, input_html: { data: { flatpickr_target: "session" }, class: "border border-5 border border-success" } %>
          <%= f.association :training, collection: current_user.trainings, :label_method => :wo_name, :value_method => :id %>
          <%= f.button :submit, "#{btn_msg} your session", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="modal-footer text-dark">
        <p>You have <strong><%= current_user.trainings.size %></strong> workouts to choose from !</p>
      </div>
    </div>
  </div>
</div>
