<div class="d-flex justify-content-center" style="background-color: var(--c-gray-800);">
  <div class="app text-white p-2">
    <%# BANDEAU/NAVBAR %>
    <div name="bandeau sup" class="app-header">
      <h1 class="logo">Fitscale</h1>
      <div class="app-header-navigation">
        <div class="tabs m-2">
          <h5 class="active">Dashboard</h2>
          <h5>Settings</h2>
        </div>

      </div>
        <div class="d-flex align-items-center">
          <h5 class="pe-3"><%= current_user.name %></h2>
          <%= image_tag "profile.jpg", class: "avatar-large dropdown-toggle" %>
        </div>
    </div>

    <%# BODY %>
    <div class="app-body mb-3">

      <%# TAB MENU %>
      <nav>
        <div class="nav nav-tabs border border-0 d-flex flex-column align-items-end" id="nav-tab" role="tablist">
          <button class="nav-link active text-success" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
          <button class="nav-link text-success" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My sessions</button>
        </div>
      </nav>

      <div name="content" class="tab-content bg-dashboard p-4" id="nav-tabContent" style="width: 50vw">
        <%# TABS %>

        <%# USER STATS %>
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div class="d-flex justify-content-between mb-3" style="width:48vw">
            <div>
              <h1 class="text-color mb-3 mt-3"><strong>Details</strong></h1>
              <p class="text-black fs-5 ps-3 ">Workouts created : <strong><%= Workout.where(user_id: current_user.id).count %></strong></p>
              <p class="text-black fs-5 ps-3">Workouts added : <strong><%= Training.where(user_id: current_user.id).count %></strong></p>
              <p class="text-black fs-5 ps-3">Total workouts : <strong><%= Workout.where(user_id: current_user.id).count + Training.where(user_id: current_user.id).count %></strong></p>
              <p class="text-black fs-5 ps-3">Sessions : <strong><%= current_user.sessions.count %></strong></p>
              <p class="text-black fs-5 ps-3">Weakest muscle : <br> <strong class="ps-2"><%= @hash.sort_by{ |_key, value| value }.first[0].to_s %></strong> trained only <%= @hash.sort_by{ |_key, value| value }.first[1].to_s %> times</p>
            </div>
            <div>
              <% if @workouts.size != 0 %>
                <%= render "components/bar_chart_dashboard", k: @k, v: @v  %>
              <% else %>
                <p class="text-success">You don't have any workout yet !</p>
              <% end %>
            </div>

          </div>

          <div style="width: 48vw">
            <%= render "components/multi_bar_chart_dashboard", days: @days, count_exo_day: @count_exo_day, la: @res  %>
          </div>
        </div>

        <%# CALENDAR %>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <%= render "components/calendar", sessions: @sessions %>
          <div>
            <%= render "components/multi_bar_chart_dashboard", days: @days, count_exo_day: @count_exo_day, la: @res  %>
          </div>
        </div>

      </div>
      <%# SIDE MENU WITH SESSIONS %>
      <div name="side menu bg-dashboard">
        <h3 class="text-center">This week's <span class="text-success">sessions</span></h3>
        <ul class="list-unstyled">

          <li class="text-center">
            <button id="to-hover" class="mb-3 btn text-success rounded-5 border border-success" data-bs-toggle="modal" data-bs-target="#new">
              <i class="fa-solid fa-plus"></i>
              <p class="animate__backInDown" id="to-show">Plan your next Session</p>
            </button>
            <%= render "components/modal_session", session: Session.new %>
          </li>
          <% current_user.week_sessions.sort_by(&:programing_at).each do |session| %>

            <%# SINGLE SESSION %>
            <li class="d-flex">
              <% session_part = session.id.present? ? session : Session.new %>
              <%= render "components/modal_session", session: session_part %>
              <div class="d-flex bg-dark border border-success m-2 py-2 ps-3 rounded-start-pill" style="width: 100%">
                <div class="d-flex flex-column justify-content-evenly pe-2" name="icon">
                  <button type="button" class="btn text-success rounded-5" data-bs-toggle="modal" data-bs-target="#<%= session.id %>">
                    <i class="fa-regular fa-pen-to-square edit-btn"></i>
                  </button>

                  <%= link_to gym_session_path(session.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
                    <button type="button" class="btn text-success rounded-5">
                      <i class="fa-solid fa-trash delete-btn"></i>
                    </button>
                  <% end %>
                </div>
                <div>
                  <em><%= session.programing_at.strftime("%A") %></em>
                  <h5><%= session.training.workout.name %></h5>
                  <h6><%= session.training.workout.exercices.count %> exercices</h6>
                  <% wo_focus = session.training.workout.focus %>
                  <h6>Focus on <span style="color: <%= wo_focus[1] %>"><%= wo_focus[0] %></span></h6>

                </div>
              </div>
            </li>
          <% end %>
        </ul>

      </div>

    </div>

  </div>
</div>
