<nav class="navbar navbar-expand-lg border-bottom border-bottom-dark py-0 sticky-top" data-bs-theme="dark" style="background-color: #363636;">
  <div class="container-fluid ps-0">

    <%# button + logo : %>

    <%= link_to  root_path, class: "navbar-brand text-white" do%>
      <%= image_tag "fitscale-logo.png", alt: "logo.png", height: 70, width: 150%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# navbar %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%# butons %>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", actuality_path, class: "nav-link active text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Workouts", workouts_path, class: "nav-link active text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Exercices", '#', class: "nav-link active text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create a workout", new_workout_path, class: "nav-link active text-white" %>
        </li>

        <%# form search %>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-white" type="submit">Search</button>
      </form>
      <% if current_user.present? %>
        <div class="nav-item dropdown ms-3">
              <%= image_tag "profile.jpg", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My workouts", user_my_workouts_path(current_user.id), class: "dropdown-item text-white" %>
                <%= link_to "My sessions", '#', class: "dropdown-item text-white" %>
                <hr class="dropdown-divider">
                <%= link_to "My dashboard", '#', class: "dropdown-item text-white" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
        </div>

      <% else %>

      <% end %>
    </div>

  </div>
</nav>
