<%# BANNER WITH TEXT %>
<div class="banner-wrapper shadow-lg">
  <div class="chad-banner d-flex flex-column justify-content-center align-items-center p-5">
    <div class="animate__animated animate__slow animate__fadeInLeft text-light">
      <h1 class="">Welcome to <span class="text-success">FitScale</span></h1>
      <p class="mt-3 fw-light text-grey">Share and create your own experience.</p>
      <%= link_to "Create your own workout !", new_workout_path, class: "btn btn-lg btn-success text-dark shadow" %>
    </div>
  </div>
</div>

<%# BODY %>
<div class=" py-5">
  <div class=" container px-5 d-flex justify-content-around mb-5">
    <% if current_user.present? %>
      <div class="d-flex flex-column">
        <h2><strong>Begin your <span class="text-success">journey</span></strong></h2>
        <div class="">
          <% if Training.where(user_id: current_user.id).empty? %>
            <p>Don't have a workout yet ! Try to find fitting <%= link_to "workouts", workouts_path, class: "text-success" %> !</p>
          <% else %>
            <p>You have <%= current_user.week_sessions.size %> <strong class="text-success">sessions</strong> this week !</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <h2 class="text-center mb-5">Interested in what's going on ?</h2>
    <%# HORIZONTAL SCROLL OF WORKOUTS %>

    <h3 class="container mt-2">Recommended workouts  for beginners</h3>
    <div class="wo-container mb-5">
        <div name="workouts scroll" class="workouts-wrapper d-flex px-3 py-5 rounded-5">
          <% @workouts_beg.each do |workout| %>
            <div class="mx-3">
              <%= render "components/workout_card", workout: workout %>
            </div>
          <% end %>
        </div>
    </div>

  <%# HORIZONTAL SCROLL OF WORKOUTS %>
    <h3 class="container mt-2">Popular workouts !</h3>
    <div class="wo-container mb-5">
      <div name="workouts scroll" class="workouts-wrapper d-flex px-3 py-5 rounded-5">
        <% @workouts_exp.each do |workout| %>
          <div class="mx-3">
            <%= render "components/workout_card", workout: workout %>
          </div>
        <% end %>
      </div>
    </div>
</div>
